// @import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');

//General
$green: #081214;
$light-green: #193F2A;

body {
    margin: 0px;
    font-family: 'Karla', sans-serif;
};
a {
    text-decoration: none !important;
};
li {
    font-size: 1.3em;
    list-style: circle;
    padding: 0.2em;
}
p {
    font-size: 1.3em;
    color: $green;
}
.app {
    width: 100vw;
    min-height: 100vh;
};

//Header
.logo {
    height: 5em;
};
.head {
    width: 100vw;
    height: 5em;
    background-color: $green;
    display: flex;
    color: white;
    position: fixed !important;
    z-index: 99999999999999;
    
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100vw;
        padding-right: 1.5em;
    }

    .name-part {
        font-size: 2em;
        font-weight: bold;
        margin-left: 0.9em;
        display: flex;
        color: palevioletred;

        div {
            margin-right: 0.3em;
        }
    }
    .link-part {
        color: white;
        display: flex;
        margin-bottom: 0.3em;
        font-size: 1.1em;

        a {
            color: white;
        }

        .link {
            margin-left: 1.2em;
            transition: all 0.5s ease-in;
            overflow: hidden;

            &:after {
                content: '';
                display: block;
                width: 0;
                height: 0.08em;
                background: palevioletred;
                transition: width .3s;
            }
            &:hover::after {
                width: 100%;
            }
        }
    }
};

//Banner
.banner {
    height: 1000px;
    width: 2000px;
    background-image: url("../src/img/plants.jpg")  ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .banner-text {
        color: white;
        align-items: center;
        font-size: 3.5em;
        position: relative;
    }

    button {
        padding: 1em;
        color: $green;
        font-size: 1em;
        border-radius: 0.5em;

        &:hover {
            background-color: $green;
            color: white;
        }
    }
   
};

//Skills
.skills {
    height: 100%;
    width: 100%;
    padding: 5em 0.9em 8em 0.9em;
    background-color: $green;
    
   
    .ui.header.skills-header {
        color: white;
        text-align: center;
        font-size: 3em;
        margin-bottom: 1em;
    }
    .ui.header.skills-header::after {
        content: "";
        display: block;
        background: palevioletred;
        width: 400px;
        height: 0.8px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        border-bottom: solid calc(0.8px/1) palevioletred;
        box-shadow: 0 0.8px 0 palevioletred;
    }
   

}

//Projects 
.projects {
    height: 100%;
    width: 100%;
    padding: 5em 0.9em 8em 0.9em;

    .ui.header.projects-header {
        color: $green;
        text-align: center;
        font-size: 3em;
    }
    .ui.header.projects-header::after {
        content: "";
        display: block;
        background: palevioletred;
        width: 80px;
        height: 0.8px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        border-bottom: solid calc(0.8px/1) palevioletred;
        box-shadow: 0 0.8px 0 palevioletred;
    }

    .ui.text.container {
        padding-bottom: 2em;
    }
    .github-link {
        color: palevioletred;
        font-size: 1.4em;
        margin-left: 0.4em;
    }
    .git-place {
        margin-top: 2em;
        display: flex;
        align-items: center;
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    iframe {
        width: 100%;
    }
}

//Experiences
.exp {
    height: 100%;
    width: 100%;
    padding: 5em 0.9em 8em 0.9em;

    .ui.header.exp-header {
        color: $green;
        text-align: center;
        font-size: 3em;
        margin-bottom: 2em;
    }
    .ui.header.exp-header::after {
        content: "";
        display: block;
        background: palevioletred;
        width: 200px;
        height: 0.8px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        border-bottom: solid calc(0.8px/1) palevioletred;
        box-shadow: 0 0.8px 0 palevioletred;
    }
}

//Contact
.contact {
    width: 100%;
    border-top: grey solid 1px;
    
    a {color: black;}

    p{
        font-size: 1.3em;
    }
    .linkedin-logo {
        width: 30px;
    }
    .ui.container {
        display: flex;
        justify-content: space-around;
        padding: 1em;
    }
    footer {
        width: 100%;
      
        text-align: center;
        background-color: $green;
        color: white;
        padding: 1em;
    }
}

