// @import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');

//General
$green: #081214;

body {
    margin: 0px;
    font-family: 'Karla', sans-serif;
};
a {
    color: white ;
    text-decoration: none !important;
};

.app {
    width: 100vw;
    min-height: 100vh;
};
   
//Header
.logo {
    height: 5em;
};
.head {
    width: 100vw;
    height: 5em;
    background-color: $green;
    display: flex;
    color: white;
    position: fixed;
    
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100vw;
        padding-right: 1.5em;
    }

    .name-part {
        font-size: 2em;
        font-weight: bold;
        margin-left: 0.9em;
    }
    .link-part {
        color: white;
        display: flex;
        margin-bottom: 0.3em;
        font-size: 1.1em;

        .link {
            margin-left: 1.2em;
            transition: all 0.5s ease-in;
            overflow: hidden;

            &:after {
                content: '';
                display: block;
                width: 0;
                height: 0.08em;
                background: white;
                transition: width .3s;
            }
            &:hover::after {
                width: 100%;
            }
        }
    }
};

//Banner
.banner {
    height: 100vh;
    width: 100vw;
    background-image: url("../src/img/plants.jpg")  ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .banner-text {
        color: white;
        align-items: center;
        font-size: 3.5em;
    }

    button {
        padding: 1em;
        color: $green;
        font-size: 1em;
        border-radius: 0.5em;

        &:hover {
            background-color: $green;
            color: white;
        }
    }
   
};

//Skills
.skills {
    height: 100vh;
    width: 100vw;
    background-color: hotpink;
}

//Projects 
.projects {
    height: 100vh;
    width: 100vw;
    background-color: mediumslateblue;
}

//Experiences
.exp {
    height: 100vh;
    width: 100vw;
    background-color: mediumturquoise;
}

//Contact
.contact {
    height: 10em;
    width: 100vw;
    background-color: black;
}